@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url(assets/font/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(assets/font/Poppins-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: roboto;
  src: url(assets/font/Roboto-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: poppins;
  font-style: normal;
}

.txt{
  font-family: roboto;
}

.h{
  max-height: 60vh;
}

.purple-bg{
  background: linear-gradient(180deg, rgba(117,44,231,0) 0%, rgba(135, 85, 216, 0.12) 41%, rgba(117,44,231,0) 100%);
}

.mesh-bg{
  background-image: url(assets/t-pt-bg2.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* VerticalTextSlider.css */
#text-slider {
  height: 30px;
  overflow: hidden;
  width: 300px;
  border: 1px solid #ccc;
}

#text-items {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}

.slide {
  height: 30px;
  line-height: 30px;
  text-align: center;
}