@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: regularPoppins;
  src: url(assets/font/Poppins-Regular.ttf);
}

@font-face {
  font-family: regularPoppins;
  src: url(assets/font/Poppins-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: robotoregular;
  src: url(assets/font/Roboto-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: regularPoppins;
  font-weight: 400;
  font-style: normal;
}

.txt{
  font-family: robotoregular;
}

.h{
  max-height: 60vh;
}

