@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url(assets/font/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(assets/font/Poppins-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: roboto;
  src: url(assets/font/Roboto-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: poppins;
  font-style: normal;
}

.txt{
  font-family: roboto;
}

.h{
  max-height: 60vh;
}

/* VerticalTextSlider.css */
#text-slider {
  height: 30px;
  overflow: hidden;
  width: 300px;
  border: 1px solid #ccc;
}

#text-items {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}

.slide {
  height: 30px;
  line-height: 30px;
  text-align: center;
}